.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.banner-image{
    display:flex;
    width: 1320px;
    height: 600px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
    background-image: url('resources/Banner Image.png');
    justify-content:center;
    align-items: center;
}
.banner-text{
    color: #FFF;
    


}

